/Guess_Number/nbproject/private/
/Guess_Number/build/
/AutomaticDocumentGeneration/nbproject/private/
/AutomaticDocumentGeneration/build/
/AutomaticDocumentGeneration/dist/
/JavaOutputFormatting/nbproject/private/
/JavaOutputFormatting/build/